.main{
    display: flex;
    flex-direction: column;
}

.divideArticleContainer{
    padding-bottom: 1rem;
}

.innerArticleContainer{
    border: 1px solid grey;
    border-radius: 0.6rem;
    padding: 1rem;
}