.innerArticleContainer {
  border: 1px solid grey;
  border-radius: 0.6rem;
  padding: 1rem;
}

.titleButtonBox {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.titleButton {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-left: 1rem;
}
